.recruitment_list {
    li {
        figure {
            overflow: hidden;
            border-radius: 5px;
            position: relative;

            width: 100%;
            padding-top: 63.16%;
        }

        img {
            @include positionCenter();

            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .item_info {
        margin-top: 20px;
        font-size: 15px;

        .com_name {
            color: #999999;
            margin-bottom: 10px;
        }

        .subject {
            font-size: 18px;
            line-height: 1.333;
            font-weight: $fw-medium;
            height: 2.666em;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            margin-bottom: 20px;
        }
    }
}

.cardList {
    li {
        min-height: 150px;
        border: 1px solid #dbdbdb;
        background-color: #fff;
        border-radius: 5px;
        position: relative;

        a {
            @include flexVal(flex, start, center, nowrap);
            width: 100%;
            height: 100%;
            padding: 20px;

            figure {
                display: block;
                width: 60px;
                height: 60px;
                border: 1px solid #eeeeee;
                background-color: #fff;
                border-radius: 50%;
                overflow: hidden;
                margin-right: 20px;
                flex-shrink: 0;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .info_box {
                h3 {
                    font-size: 1.125rem;
                    font-weight: 500;
                }
                p {
                    margin-top: 8px;
                    line-height: 1.2;
                    &.name {
                        color: #757575;
                        font-size: 0.9375rem;
                        margin-bottom: 15px;
                    }

                    &.area {
                        color: #999;
                        font-size: 0.875rem;
                    }
                }
            }
        }

        .star {
            position: absolute;
            top: 10px;
            right: 10px;
        }
    }
}

// s list

.rowList {
    border-top: solid 2px #252525;

    li {
        display: flex;
        align-items: center;

        border-bottom: solid 1px #eee;

        .subject {
            display: block;
            font-size: 20px;
            font-weight: 500;
            line-height: 1.2;
            max-width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}
.academy_list {
    li {
        padding: 20px 10px;

        &.done {
            .item_thumb_box {
                .item_thumb {
                    filter: grayscale(100%);
                }
            }
        }

        .item_thumb_box {
            width: 180px;
            flex: 0 0 auto;
            border-radius: 5px;
            overflow: hidden;
            margin-right: 20px;
            flex-shrink: 0;

            .item_thumb {
                background: no-repeat center / cover;
                display: block;
                width: 100%;
                padding-top: 66.67%;
            }
        }

        .item_info_wrap {
            width: calc(100% - 200px);

            .date_info {
                color: #999;
                margin-top: 10px;
            }
            .tag_box {
                margin-top: 20px;
            }
        }
    }
}

.profile_list {
    li {
        padding: 30px 0;

        .profile {
            width: 60px;
            height: 60px;
            background-image: url(@img/sub/profile_bg.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            border-radius: 50%;
            overflow: hidden;
            flex: 0 0 auto;
            border: solid 1px #eee;
            margin-right: 20px;
        }
        .text_box {
            width: calc(100% - 80px);

            .subject_info {
                width: 51.6656%;
                text-align: left;

                .subject {
                    font-size: 18px;
                }
                .info_txt {
                    margin-top: 12px;
                    display: flex;
                    span {
                        display: inline-block;
                        font-size: 15px;
                        line-height: 1.2;
                        color: #757575;
                        & + span::before {
                            content: "/";
                            font-size: inherit;
                            color: #757575;
                            line-height: 1.2;
                        }
                    }
                }
            }
            > div {
                text-align: center;
                &.job {
                    width: 16.667%;
                }
                &.reg {
                    font-size: 14px;
                    width: 15.334%;
                    color: #999;
                }
                &.time {
                    font-size: 14px;
                    width: 9.1667%;
                    color: #999;
                }
                &.star_wrap {
                    width: 7.1667%;
                }
            }
        }
    }
}

// company photo list
.company_intro_photo {
    --mg-x: 10px;
    --mg-t: 0;

    li {
        position: relative;
        .thumb {
            width: 100%;
            overflow: hidden;
            padding-top: 63.16%;
            border-radius: 5px;
            background: no-repeat center center/cover;
        }
        .dim {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            background: rgba(0, 0, 0, 0.5);

            span {
                font-size: 18px;
                font-weight: 500;
                color: #fff;
            }
        }
    }
}

@include mobile {
    .mo_w_100 {
        width: 100% !important;
    }

    .recruitment_list {
        li {
            figure {
                overflow: hidden;
                border-radius: 5px;
                position: relative;

                width: 100%;
                padding-top: 63.16%;
            }

            img {
                @include positionCenter();

                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .item_info {
            font-size: 0.923rem;

            .subject {
                font-size: 1.0769rem;
                margin-bottom: 1.0714em;
            }
        }
    }

    .cardList {
        li {
            min-height: auto;
            border-radius: 2.5px;

            a {
                figure {
                    width: 50px;
                    height: 50px;
                }

                .info_box {
                    h3 {
                        font-size: 1.0769rem;
                        font-weight: 500;
                    }
                    p {
                        margin-top: 0.6153rem;
                        &.name {
                            font-size: 1rem;
                            margin-bottom: 12px;
                        }

                        &.area {
                            font-size: 0.923rem;
                        }
                    }
                }
            }
        }
    }

    .rowList {
        border-top: solid 2px #252525;

        li {
            align-items: start;
            .subject {
                font-size: 1.1538rem;
            }
        }
    }
    .academy_list {
        li {
            padding: 1.5384rem 0;

            &.done {
                .item_thumb_box {
                    .item_thumb {
                        filter: grayscale(100%);
                    }
                }
            }

            .item_thumb_box {
                width: 9.2307rem;
                border-radius: 0.1923rem;
                margin-right: 1.1538rem;

                .item_thumb {
                    display: block;
                    width: 100%;
                    padding-top: 66.67%;
                }
            }

            .item_info_wrap {
                width: calc(100% - 10.3846rem);

                .date_info {
                    color: #999;
                    margin-top: 10px;
                }
                .tag_box {
                    margin-top: 0.7692rem;
                }
            }
        }
    }

    .profile_list {
        li {
            padding: 1.3846rem 0;

            .profile {
                width: 3.846rem;
                height: 3.846rem;
                margin-right: 1.15384rem;
            }
            .text_box {
                width: calc(100% - 5rem);
                display: block;

                .subject_info {
                    margin-bottom: 0.846rem;
                    .subject {
                        font-size: 1.0769rem;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        white-space: normal;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        max-height: 3em;
                        line-height: 1.5;
                    }
                    .info_txt {
                        margin-top: 0.5384rem;
                        display: flex;
                        span {
                            font-size: 0.923rem;
                            color: #757575;
                        }
                    }
                }
                > div {
                    width: 100% !important;
                    text-align: left;
                    & + * {
                        margin-top: 0.5384rem;
                    }
                    &.reg {
                        font-size: 0.923rem;
                    }
                    &.time {
                        font-size: 0.923rem;
                    }
                    &.star_wrap {
                        margin-top: 0.846rem;
                    }
                }
            }
        }
    }
}
