.slick-dots {
    display: flex !important;
    text-align: left;
    position: absolute;
    width: 100%;
    left: 7.5%;
    bottom: 15%;

    li {
        width: 8px;
        height: 8px;
        margin: 0;

        button {
            width: 8px;
            height: 8px;
            background-color: var(--bs-white);
            border-radius: 50%;
            padding: 0;

            &::before {
                display: none;
            }
        }

        & + li {
            margin-left: 10px;
        }

        &.slick-active {
            button {
                background-color: var(--bs-point);
            }
        }
    }
}

.fraction {
    font-size: 18px;
    color: #454545;
}

.slick-arrow {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-size: 0;

    &::before {
        content: "";
        background: url(@img/btn/slide_arrow250x50.png) no-repeat center center/cover;
        width: 100%;
        height: 100%;
        font-size: 0;
        display: block;
        opacity: 1;
    }

    &.slick-prev {
        left: 0;
    }

    &.slick-next {
        right: 0;
        transform: translate(50%, -50%) rotate(180deg);
    }
}

.item_sec {
    padding: 0 20px;
    .item_top {
        padding: 30px 0;
        a {
            display: block;
        }
        .com_name {
            font-size: 15px;
            color: #999;
            margin-bottom: 12px;
        }
        .subject {
            font-size: 18px;
            font-weight: 500;
            line-height: 1.5;
        }
    }
    .item_bot {
        position: relative;
        z-index: 100;
        padding: 20px 0 30px;
        border-top: solid 1px #eee;
        > span {
            display: inline-block;
            font-size: 14px;
            color: #999;
            margin-bottom: 19px;
        }
        .bot_wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .app_now {
                width: 110px;
                line-height: 30px;
                text-align: center;
                font-size: 15px;
                color: #fff;
                background: #01d8df;
                border-radius: 15.5px;
            }
            .date {
                margin-left: 10px;
                font-size: 14px;
                color: #454545;
            }
        }
    }
}
