// view page
.view_sect {
    padding-top: 80px;
}

.daily_write_top {
    display: flex;
    padding-bottom: 20px;
    border-bottom: solid 1px #eee;

    .profile_box {
        width: 60px;
        margin-right: 30px;
        border-radius: 50%;
        overflow: hidden;
        flex: 0 0 auto;
        border: solid 1px #eee;

        .profile {
            display: block;
            width: 100%;
            padding-top: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    .input_box {
        width: calc(100% - 90px);
        position: relative;

        textarea {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border: solid 1px #dbdbdb;
            border-radius: 5px;
            padding: 22px 0 20px 20px;
            z-index: 5;
            background-color: transparent;
            resize: none;
        }
        textarea:focus {
            background-color: #fff;
        }
        .placeholder {
            position: relative;
            display: block;
            z-index: 0;
            height: 62px;
            height: 100%;
            padding: 22px 0 20px 20px;
            color: #ddd;
        }
        .write_btn {
            display: block;
            width: 62px;
            height: 62px;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 10;
            background: url("@img/btn/write_btn_ico.png") no-repeat center center;
        }
    }
}

/* 일상 글쓰기 */

.write_sect {
    --mxWd: 247px;

    input,
    select {
        width: 100%;
        height: 48px;
    }

    .write_row.half {
        max-width: 500px;
    }

    .write_box {
        padding: 0 40px 36px;
        margin-top: 18px;
        border: solid 1px #dbdbdb;

        .title {
            padding: 20px 0;
            border-bottom: solid 1px #eee;

            input {
                height: 50px;
                border: none;

                &::placeholder {
                    font-size: 26px;
                    color: #999;
                }
            }
        }

        .cont {
            padding: 20px 0;

            textarea {
                width: 100%;
                height: 480px;
                padding: 16px;
                border: none;
                font-size: 18px;
                resize: none;

                &::placeholder {
                    color: #ddd;
                }
            }
        }
    }

    .count_wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background: #fafafa;

        .ico {
            width: 27px;
            height: 21px;
            margin-bottom: 6px;
            background: url("@img/ico/pic_ico27x21.png") no-repeat center center;
        }

        .count_number {
            font-weight: 500;
            color: #999;
        }
    }

    .btn_wrap {
        margin: 45px auto 0;
    }
}

/* 일상 글쓰기 */

/* 일상 뷰 */

.writer_info {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

.writer_info .user_ico {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: solid 1px #eee;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 11px;
}

.writer_info .user_id {
    margin-right: 10px;
}

.writer_info .date {
    color: #999;
}

/* 일상 뷰 */

.view_sect2 {
    .view_top_info {
        padding: 40px 0 30px;
        border-bottom: solid 1px #eee;

        .subject {
            font-size: 26px;
            font-weight: 700;
            line-height: 1.4;
            margin-bottom: 30px;
        }

        .writer_info {
            margin-bottom: 0;
        }
    }

    .view_content {
        padding: 30px 0;
        border-bottom: solid 1px #eee;

        .desc {
            padding: 10px 0 220px;
            font-size: 18px;
            line-height: 1.5;
            word-break: break-all;
            color: #757575;
        }
    }

    .view_state {
        .left span {
            font-size: 18px;
            color: #757575;
            padding-left: 27px;
            background-position: left center;
            background-repeat: no-repeat;

            &.good {
                background-image: url("@img/ico/ico_review_19x19.png");
            }

            &.review {
                background-image: url("@img/ico/ico_review_18x15.png");
            }

            & + span {
                margin-left: 30px;
            }
        }
    }

    .btn_wrap {
        --mxWd: 300px;
    }
}

.em_view {
    padding-top: 140px;
}
@include mobile {
    .academy {
        .list_sect {
            --mxWd: 300px;

            .list-top-row {
                margin-bottom: 20px;
            }
        }

        // view page
        .view_sect {
            padding-top: 80px;
        }
    }

    .daily_write_top {
        display: flex;
        padding-bottom: 1.1538rem;
        border-bottom: solid 1px #eee;

        .profile_box {
            width: 4.2307rem;
            height: 4.2307rem;
            margin-right: 0.7692rem;

            .profile {
                display: block;
                width: 100%;
                padding-top: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }

        .input_box {
            width: calc(100% - 5rem);
            position: relative;

            textarea {
                padding: 1.1538rem 0 1.1538rem 1.1538rem;
                border: solid 1px #dbdbdb;
                border-radius: 5px;
            }
            .placeholder {
                padding: 1.1538rem 0 1.1538rem 1.1538rem;
                line-height: 1.5;
                width: calc(100% - 4.1538rem);
            }
            .write_btn {
                width: 4.1538rem;
                height: 4.1538rem;
                top: 50%;
                transform: translateY(-50%);
                background-size: 1.8846rem auto;
            }
        }
    }

    /* 일상 글쓰기 */

    .write_sect {
        --mxWd: 247px;

        input,
        select {
            width: 100%;
            height: 48px;
        }

        .write_row.half {
            max-width: 500px;
        }

        .write_box {
            padding: 0 40px 36px;
            margin-top: 18px;
            border: solid 1px #dbdbdb;

            .title {
                padding: 20px 0;
                border-bottom: solid 1px #eee;

                input {
                    height: 50px;
                    border: none;

                    &::placeholder {
                        font-size: 26px;
                        color: #999;
                    }
                }
            }

            .cont {
                padding: 20px 0;

                textarea {
                    width: 100%;
                    height: 480px;
                    padding: 16px;
                    border: none;
                    font-size: 18px;
                    resize: none;

                    &::placeholder {
                        color: #ddd;
                    }
                }
            }
        }

        .count_wrap {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left: auto;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background: #fafafa;

            .ico {
                width: 27px;
                height: 21px;
                margin-bottom: 6px;
                background: url("@img/ico/pic_ico27x21.png") no-repeat center center;
            }

            .count_number {
                font-weight: 500;
                color: #999;
            }
        }

        .btn_wrap {
            margin: 45px auto 0;
        }
    }

    /* 일상 글쓰기 */

    /* 일상 뷰 */

    .writer_info {
        display: flex;
        align-items: center;
        margin-bottom: 35px;
    }

    .writer_info .user_ico {
        display: inline-block;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: solid 1px #eee;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-right: 11px;
    }

    .writer_info .user_id {
        margin-right: 10px;
    }

    .writer_info .date {
        color: #999;
    }

    /* 일상 뷰 */

    .view_sect2 {
        .view_top_info {
            padding: 40px 0 30px;
            border-bottom: solid 1px #eee;

            .subject {
                font-size: 26px;
                font-weight: 700;
                line-height: 1.4;
                margin-bottom: 30px;
            }

            .writer_info {
                margin-bottom: 0;
            }
        }

        .view_content {
            padding: 30px 0;
            border-bottom: solid 1px #eee;

            .desc {
                padding: 10px 0 220px;
                font-size: 18px;
                line-height: 1.5;
                word-break: break-all;
                color: #757575;
            }
        }

        .view_state {
            .left span {
                font-size: 18px;
                color: #757575;
                padding-left: 27px;
                background-position: left center;
                background-repeat: no-repeat;

                &.good {
                    background-image: url("@img/ico/ico_review_19x19.png");
                }

                &.review {
                    background-image: url("@img/ico/ico_review_18x15.png");
                }

                & + span {
                    margin-left: 30px;
                }
            }
        }

        .btn_wrap {
            --mxWd: 300px;
        }
    }

    .comment_area {
        padding-top: 30px;

        .write_comment {
            .info_top {
                display: flex;
                align-items: center;
            }

            .input_wrap {
                width: 100%;
                position: relative;
                margin-top: 13px;

                textarea {
                    width: 100%;
                    height: 180px;
                    border-radius: 5px;
                    resize: none;
                    padding: 30px;

                    &::placeholder {
                        font-size: 18px;
                        color: #ddd;
                    }
                }

                button {
                    max-width: 120px;
                    font-size: 18px;
                    line-height: 42px;
                    position: absolute;
                    right: 21px;
                    bottom: 21px;
                }
            }
        }
    }

    .em_view {
        padding-top: 140px;
    }
    .comment_list {
        li {
            padding: 40px 0;
            border-bottom: solid 1px #eee;
            .info_top {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 13px;
            }
        }
        .info_bot {
            font-size: 18px;
            line-height: 1.5;
            color: #757575;
        }
    }
}
