.sorting-select {
    max-width: 140px;
    width: 100%;
    flex-shrink: 0;
}
.sub_disc_wrap {
    font-size: 18px;
    color: #757575;
    line-height: 1.5;
}

.tag_box {
    display: flex;
    margin-top: 40px;
    span {
        display: block;
        width: 100%;
        max-width: 52px;
        line-height: 26px;
        font-size: 15px;
        color: $white;
        text-align: center;
        border-radius: 3px;

        &.ing {
            background: $point;
        }

        &.pay {
            background: $orange;
        }
        &.free {
            background: $blue;
        }
        &.done {
            background: $gray-666;
        }

        & + span {
            margin-left: 6px;
        }
    }
}
