.view_sect {


    .inner {
        border-top: solid 2px #252525;

        .view_top_info {
            --mxWd: 247px;
            display: flex;
            justify-content: space-between;
            padding: 40px 0 30px 20px;
            border-bottom: solid 1px #eee;



            .board_info {
                width: 65%;

                .subject {
                    font-size: 26px;
                    font-weight: 700;
                    line-height: 1.3;
                    margin-bottom: 30px;


                }

                .info_list {
                    width: 100%;

                    dl {
                        display: flex;

                        dt {
                            width: 75px;
                            line-height: 1.65;
                            font-size: 18px;
                            font-weight: 500;
                        }

                        dd {
                            width: calc(100% - 75px);
                            font-size: 18px;
                            color: #999;
                            line-height: 1.65;
                        }
                    }
                }
            }

            .share_info {
                width: 35%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-end;

                .sns_list {
                    display: flex;

                    a {
                        display: inline-block;
                        width: 40px;
                        height: 40px;
                        border-radius: 10px;
                        background-color: #f9f9f9;
                        background-position: center;
                        background-size: auto;
                        background-repeat: no-repeat;

                        &+a {
                            margin-left: 10px;

                        }

                        &.facebook {
                            background-image: url('@img/ico/ico_sns_facebook.png');
                        }

                        &.twitter {
                            background-image: url('@img/ico/ico_sns_tiwtter.png');
                        }

                        &.kakao {
                            background-image: url('@img/ico/ico_sns_kakaostory.png');
                        }

                        &.link {
                            background-image: url('@img/ico/ico_sns_link.png');
                        }

                        &:hover {
                            background: $point;
                        }

                        &.facebook:hover {
                            background-image: url('@img/ico/ico_sns_facebook_on.png');
                        }

                        &.twitter:hover {
                            background-image: url('@img/ico/ico_sns_tiwtter_on.png');
                        }

                        &.kakao:hover {
                            background-image: url('@img/ico/ico_sns_kakaostory_on.png');
                        }

                        &.link:hover {
                            background-image: url('@img/ico/ico_sns_link_on.png');
                        }
                    }


                }
            }

        }
        
.view_content {
    padding: 60px 20px;

    img {
        margin: 0 auto;
        display: block;
    }
}
    }
    .btn_wrap{
        
        --mxWd: 300px;
    }
}



