.ad_wrap {
    position: fixed;
    top: 140px;
    z-index: 11;
    opacity: 0;
    transition: all 0.3s;
    &.active {
        opacity: 1;
    }
    &.left {
        left: 4.55vw;
    }
    &.right {
        right: 4.55vw;
    }

    a {
        display: block;

        & + a {
            margin-top: 10px;
        }
    }
}

@media screen and (max-width: 1800px) {
    .ad_wrap.left {
        left: 10px;
    }

    .ad_wrap.right {
        right: 10px;
    }
}

@media screen and (max-width: 1680px) {
    .ad_wrap {
        display: none;
    }
}
