// footer 
#footer {
    @include footStyle(0, 68px, 15px);

    border-top: 1px solid #fafafa;

    .foot_top {
        display: flex;
        align-items: center;
        padding: 30px 0;
        border-bottom: 1px solid #eeeeee;


        .foot_logo {
            display: block;
            margin-right: 40px;
            flex-shrink: 0;
            font-size: 20px;
            font-weight: 600;
            color: #999999;
            text-transform: uppercase;

            a {
                display: block;
                width: 100%;
            }
        }

        .footer_link a {
            display: inline-block;
            color: #757575;

            &+a {
                margin-left: 40px;
            }
        }

        .footer_link small {
            opacity: 0.4;
            margin-left: 1em;
        }
    }

    .foot_info {
        @include flexVal(flex, space-between, start, wrap);
        padding: 40px 0;


        span {
            white-space: nowrap;
        }

        .address {
            white-space: unset;
        }

        address {
            color: #999999;
            line-height: 1.75;
        }

        .sns_list {
            @include flexVal(flex, start, center, wrap);

            a+a {
                margin-left: 10px;
            }
        }
    }

    .copy {
        color: #666666;
    }
}





@media screen and (max-width: 1200px) {

    #footer .foot_info {
        display: block;
    }

    #footer .foot_info .sns_list {
        margin-top: 30px;
    }
}


@include mobile {
    .quick_menu {
        width: 100%;
        top: auto;
        bottom: -1px;
        left: 0;
        right: auto;
        display: flex;
        align-items: center;
        height: 3.5714rem;


        a {
            width: 50%;
            height: 100%;
            display: flex;
            font-size: 1.0714rem;
            text-indent: 0;
            align-items: center;
            justify-content: center;
            background-color: $kakao-bg;
            color: $kakao-text;

            &.tel {
                color: #fff;
                background-color: $point;
            }

            &+a {
                margin-top: 0;
            }

            span {
                width: 2.2rem;
                height: 3rem;
                background-position: left -0.5rem center;
            }
        }
    }

    #footer {
        padding-bottom: 3rem;
        font-size: $f-fs-mo;

        .foot_top {
            padding: .7rem 0;
            width: calc(100% + 2rem);
            margin-left: -1rem;

            a {
                line-height: 2;
                font-size: 0.86666rem;
                margin: 0 1rem;

                &+a {
                    margin-left: 1rem;
                }
            }
        }

        .foot_bottom {
            padding: 2.6666rem 0 0;

            .inner {
                display: block;



                .foot_info {
                    .detail_info {
                        margin-top: 1.4rem;

                        p:first-of-type {
                            display: flex;

                            span:first-of-type {
                                flex-shrink: 0;
                            }
                        }

                        p:last-of-type {
                            margin-top: 1.4rem;

                        }
                    }
                }

                .contact_info {
                    margin-top: 2rem;

                    p {
                        font-size: 0.8rem;

                        strong {
                            font-size: 1rem;
                        }

                        &:nth-of-type(n+ 3) {
                            font-size: 0.8666rem;
                            line-height: 1.75;
                        }

                        &:nth-of-type(3) {
                            margin-top: 2rem;
                        }
                    }

                    .contact_btn {
                        margin-top: 1.333rem;
                        font-size: 0.8rem;
                        padding: 0 2.666rem 0 1.666rem;
                        height: 2.666rem;
                        line-height: 2.533rem;
                        border-width: 0.0666rem;
                        background-position: right 1.666rem center;
                        background-size: 0.4666rem auto;

                        &+a {
                            margin-left: 1.266rem;
                        }

                    }
                }
            }
        }
    }
}